<h1>Sign in</h1>
<div class="row">
  <form action="/signin" method="POST">
    <div class="input-field">
      <input id="email" name="email" type="email" class="validate" required>
      <label for="email">Email</label>
      <span class="helper-text" data-error="Введите email"></span>
    </div>
    <div class="input-field">
      <input id="password" name="password" type="password" class="validate" required min="1">
      <label for="password">Пароль</label>
      <span class="helper-text" data-error="Введите пароль"></span>
    </div>
    <button class="btn btn-primary">Sign Up</button>
  </form> 
</div>
<div class="row">
    <button class="btn btn-danger"><a href="/auth/facebook">Facebook</a></button>
</div>
